@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.link:hover {
  color: #fd9800;
}

.link {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.link2 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.link2:hover {
  color: white;
}

.MuiBadge-badge {
  background-color: black !important;
}

.MuiBadge-badge:hover {
  color: #fd9800;
}
